<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ThePirateBox</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <% if !flash[:notice].blank? %>
        <div class="alert alert-info">
      <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- Add Section -->
    <div class="bs-callout bs-callout-info" id="add-section">
      <div class="row">
        <div class="col-xs-2 bs-callout-header">
          <h2>Add:</h2>
        </div>
        <div class="col-xs-10 bs-callout-body">
          <div class="input-group">
            <% if !@new_torrent.errors.empty? %>
              <div class="alert alert-error">
                <ul>
                  <% @new_torrent.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= form_for :torrent, url: torrents_path do |f| %>
              <%= f.text_field :url, :class=>"form-control", :id=>"add-input", :style=>"width:100%", :type=>"text", :placeholder=>"Torrent / Magnet URL" %>
              <span class="input-group-btn">
                <%= f.submit :class=>"btn btn-success", :value=>"Add" %>
              </span>
            <% end %>

            <%= form_for @new_torrent, html: { multipart: true } do |f| %>
              <%= f.label :torrent %>
              <%= f.file_field :torrent %>
              <%= f.submit "Save", class: "btn btn-success" %>
            <% end %>
        </div>
        </div>
      </div>
    </div>

    <!-- Torrents Section -->
    <div class="bs-callout bs-callout-info" id="active-section">
      <div class="row">
        <div class="col-xs-2 bs-callout-header">
          <h2>Torrents:</h2>
        </div>
        <div class="col-xs-10 bs-callout-body">

          <table class="table table-striped torrent-table" id="active-table">
            <% @torrents.each do |torrent| %>
              <tr>
                <td><%= torrent.url %></td>
                <td><%= link_to "Download", torrent.torrent_url %></td>
                <td>
                  <%= link_to 'Destroy', torrent_path(torrent), method: :delete, data: {confirm: 'Are you sure?'} %>
                </td>
              </tr>
            <% end %>
          </table>

        </div>
      </div>
    </div>

    <!-- Info Section -->
    <div class="bs-callout bs-callout-info" id="done-section">
      <div class="row">
        <div class="col-xs-2 bs-callout-header">
          <h2>Info:</h2>
        </div>
        <div class="col-xs-10 bs-callout-body">
        </div>
      </div>
    </div>

  </div>
</div>
